---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DxPwd1wkRSudkFUl2zAMkAWzdtOE4w0TMyO29TTTfAjiH98pLkhfssFw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd85ce701fd8a5eaecacb3f1a1583ff6"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24979'
      X-Ratelimit-Reset:
      - '1708021944'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":3289417,"width":2500,"height":3701,"url":"https://www.pexels.com/photo/woman-wearing-yellow-sweater-leaning-on-railing-3289417/","photographer":"Aidan
        Roof","photographer_url":"https://www.pexels.com/@rozegold","photographer_id":1271136,"avg_color":"#848483","src":{"original":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg","large2x":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3289417/pexels-photo-3289417.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Woman
        Wearing Yellow Sweater Leaning on Railing"}],"total_results":1692,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=denver%2C+co"}'
  recorded_at: Tue, 16 Jan 2024 22:49:52 GMT
recorded_with: VCR 6.2.0
