---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=ef101d4dc8e546a4b62171509241301&q=36.171928%20-115.140011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999929'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 23:18:23
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e78aaf301b5d4d36aa7dd31f654b19a6
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Las Vegas","region":"Nevada","country":"United
        States of America","lat":36.17,"lon":-115.14,"tz_id":"America/Los_Angeles","localtime_epoch":1705447064,"localtime":"2024-01-16
        15:17"},"current":{"last_updated_epoch":1705446900,"last_updated":"2024-01-16
        15:15","temp_c":15.0,"temp_f":59.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":90,"wind_dir":"E","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"humidity":26,"cloud":0,"feelslike_c":15.8,"feelslike_f":60.4,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":8.7,"gust_kph":14.0},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":14.0,"maxtemp_f":57.1,"mintemp_c":2.3,"mintemp_f":36.2,"avgtemp_c":7.6,"avgtemp_f":45.6,"maxwind_mph":4.5,"maxwind_kph":7.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":39,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"06:51
        AM","sunset":"04:50 PM","moonrise":"10:23 AM","moonset":"11:10 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1705392000,"time":"2024-01-16
        00:00","temp_c":5.6,"temp_f":42.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":301,"wind_dir":"WNW","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":51,"cloud":0,"feelslike_c":4.8,"feelslike_f":40.7,"windchill_c":4.8,"windchill_f":40.7,"heatindex_c":5.6,"heatindex_f":42.0,"dewpoint_c":-3.9,"dewpoint_f":24.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.1,"gust_kph":9.8,"uv":1.0,"short_rad":2.04,"diff_rad":0.95},{"time_epoch":1705395600,"time":"2024-01-16
        01:00","temp_c":5.2,"temp_f":41.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":356,"wind_dir":"N","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":47,"cloud":0,"feelslike_c":4.2,"feelslike_f":39.6,"windchill_c":4.2,"windchill_f":39.6,"heatindex_c":5.2,"heatindex_f":41.4,"dewpoint_c":[...]
